* {
}
.mainDiv {
  width: 50%;
  border: 1px solid red;
}
.signup-form {
  width: 100%;
  height: 40vh;
}
.main-feed {
  width: 50%;
  border: 1px solid red;
}
.top-rect {
  background: #cec1b9;
  height: 50px;
  border: 1px solid red;
}
.box {
  border: 1px solid red;
}
.jumbo {
  background-image: url(../assets/bg.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
