@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuC.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevT.ttf) format('truetype');
}
.mainDiv {
  width: 50%;
  border: 1px solid red;
}
.signup-form {
  width: 100%;
  height: 40vh;
}
.main-feed {
  width: 50%;
  border: 1px solid red;
}
.top-rect {
  background: #cec1b9;
  height: 50px;
  border: 1px solid red;
}
.box {
  border: 1px solid red;
}
.feed {
  width: 100%;
}
.image-bg {
  background-image: linear-gradient(to bottom, #a40606 0%, #d98324 74%), url(../assets/component_bg.jpg);
  background-size: cover;
  height: 80vh;
}
body {
  background-image: url(../assets/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
